.root {
  padding: 100px;
  margin: 0 auto;
  text-align: center;

  h2 {
    font-weight: 600;
    margin-bottom: 0;
  }
  span {
    font-size: 64px;
  }
}

.description {
  letter-spacing: 0.01em;
  color: #777777;
}
